In [46]:
from sklearn.linear_model import Lasso,Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge,Lasso

import numpy as np
import pandas as pd

In [47]:
df=pd.read_csv('용주_테스트_사용컬럼만.csv',encoding='cp949')
# df[df[]]
df

,지역,최저기온(°C),최고기온(°C),가조시간(hr),생산자물가,연,월,일,30일강우횟수,평균 증기압(hPa),가격
0,춘천,-12.0,0.8,10.3,119.28,2016,2,1,0,1.7,5950
1,서울,-9.1,-1.0,10.3,119.28,2016,2,1,0,1.4,5404
2,인천,-7.4,-2.4,10.3,119.28,2016,2,1,0,1.9,3500
3,수원,-8.0,-0.4,10.3,119.28,2016,2,1,0,1.7,4180
4,청주,-7.0,-0.7,10.4,119.28,2016,2,1,0,1.8,5030
...,...,...,...,...,...,...,...,...,...,...,...
42894,창원,-12.0,-2.6,10.3,93.23,2018,1,26,0,0.9,4740
42895,광주,-10.8,-3.6,10.3,93.23,2018,1,26,0,1.9,5273
42896,부산,-9.9,0.3,10.3,93.23,2018,1,26,0,1.0,4093
42897,순천,-12.5,-4.2,10.3,93.23,2018,1,26,0,1.6,4080
42898,강릉,-13.8,-3.5,10.1,93.23,2018,1,26,0,0.7,5000

In [48]:
df['지역'].unique()

array(['춘천', '서울', '인천', '수원', '청주', '대전', '안동', '포항', '대구', '전주', '울산',
       '창원', '광주', '순천', '부산', '강릉', '세종'], dtype=object)

In [49]:
df1=df[df['지역']=='광주']

In [50]:
# df1.sort_values(['연', '월', '일'], inplace = True)
# df1.sort_values('연', inplace = True)
# Grid Search

In [51]:
df1

,지역,최저기온(°C),최고기온(°C),가조시간(hr),생산자물가,연,월,일,30일강우횟수,평균 증기압(hPa),가격
12,광주,-4.0,0.7,10.5,119.28,2016,2,1,0,3.1,6413
26,광주,-5.7,2.3,10.5,119.28,2016,2,2,0,2.7,6413
41,광주,-5.9,5.7,10.5,119.28,2016,2,3,0,3.4,6413
56,광주,-3.8,6.5,10.6,119.28,2016,2,4,0,3.6,6217
71,광주,-2.2,5.7,10.6,119.28,2016,2,5,0,3.5,6217
...,...,...,...,...,...,...,...,...,...,...,...
42836,광주,22.4,27.1,13.1,81.60,2019,8,28,0,27.3,2993
42851,광주,19.2,25.8,12.5,137.56,2020,9,12,0,23.8,6090
42866,광주,-11.6,-1.7,9.9,144.87,2021,1,7,0,2.3,5860
42881,광주,1.2,9.9,10.1,93.23,2018,1,18,0,6.5,4357
42895,광주,-10.8,-3.6,10.3,93.23,2018,1,26,0,1.9,5273

In [52]:
# df1 = df1.iloc[:-30, :]
# test = df1.iloc[-30:, :]
X = df1.drop(['가격','지역'], axis=1)
polynomial_transformer = PolynomialFeatures(2)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names_out(X.columns)
X = pd.DataFrame(polynomial_features, columns=features)
y = df1[['가격']]

In [53]:
hyper_parameter = {
    'alpha': [0.01, 0.1, 1, 10],
    'max_iter': [100, 500, 1000, 1500, 2000,10000]
}

In [54]:
model =Ridge()

In [55]:
hyper_parameter_tuner = GridSearchCV(model, hyper_parameter, cv=5)

In [56]:
hyper_parameter_tuner.fit(X, y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0.01, 0.1, 1, 10],
                         'max_iter': [100, 500, 1000, 1500, 2000, 10000]})

In [57]:
hyper_parameter_tuner.best_params_

{'alpha': 1, 'max_iter': 100}

In [58]:
# Ridge Regression

In [59]:
from sklearn.linear_model import Ridge,Lasso
ridge_reg = Ridge(alpha=1,
                 
                 random_state=42)
ridge_reg.fit(X,y)
test = polynomial_transformer.transform(np.array([[24.2, 34.3, 14, 123.4, 2023, 7, 31, 7, 20]]))
ridge_reg.predict(test)
# 최저기온, 최고기온, 가조시간, 생산자물가, 연, 월, 일, 30일강우횟수, 평균증기압

C:\Users\knzss\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  warnings.warn(

array([[6909.05974083]])